
	<base href="/backend/" />
	<%include meta%>
	<title>CyanRhino Backend System</title>

	<!-- JavaScript -->
</head>

<body>

	<!-- Primary navigation -->
	<nav id="primary">
		<ul>
			<li>
				<a href="home">
					<span class="glyph dashboard"></span>
					控制台
          </a>
			</li>
			<li>
				<a href="layout">
					<span class="glyph shuffle"></span>
					界面外观
          </a>
			</li>
			<li>
				<a href="gallery/add">
					<span class="glyph pencil"></span>
					图片
          </a>
			</li>
			<li class="active">
				<a href="javascript:;">
					<span class="glyph listicon"></span>
					新闻管理
          </a>
			</li>
			<li>
				<a href="https://www.google.com/analytics/web/#home/a40133822w69229745p71305695/">
					<span class="glyph chart"></span>
					统计
          </a>
			</li>
			<li class="bottom">
				<a href="logout">
					<span class="glyph quit"></span>
					登出
          </a>
			</li>
		</ul>
	</nav>

	<!-- Secondary navigation -->
	<nav id="secondary">
		<ul>
			<li><a href="news/list">新闻列表页</a></li>
			<li class="active"><a href="javascript:;">新增文章（高级）</a></li>
		</ul>

		<div id="notifications">
			<ul>
			</ul>
		</div>
	</nav>

	<section id="maincontainer">
		<div id="main" class="container_12">

			<div class="box">
				<div class="box-header">
					<h1>高级编辑</h1>
				</div>

				<div class="box-content">
					<% if(typeof article !== "undefined") {%>
						<form method="post" action="/backend/news/update/<%=article._id%>">
					<%} else {%>
						<form method="post" action="/backend/news/add">
					<%}%>
						<p>
							<input type="text" id="title" placeholder="文章标题" name="title" class="{validate:{required:true, minlength:3}}" autocomplete="off" required="required" <% if(typeof article !== "undefined") {%> value="<%= article.title %>" <%}%> />
							<span class="icon tick valid"></span>
						</p>
						
						<p>
							<select name="category" id="category" placeholder="栏目" class="{validate:{required:true}}">
								<option value="news" <% if(typeof article !== "undefined") {%><%= "news"==article.category?"selected=\"selected\"":"" %><%}%>>News</option>
								<option value="career" <% if(typeof article !== "undefined") {%><%= "career"==article.category?"selected=\"selected\"":"" %><%}%>>Career</option>
							</select>
						</p>
						
			
						<div>							
						</div>
						<textarea name="content" id="content" class="wysiwym" required="required" class="{validate:{required:true}}">
							<% if(typeof article !== "undefined") {%>
							<%= article.content%>
							<%} else {%>
								<h4>Heading</h4>
    
								<ul>
									<li>This is a list</li>
									<li>Of all kinds of things</li>
								</ul>
      
								<ol>
									<li>Numbered lists</li>
									<li>Are also possible</li>
								</ol>
      
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<%}%>
						</textarea>

						<div class="action_bar">
							<input type="reset" id="reset" value="重置" class="button" />
							<% if(typeof article !== "undefined") {%>
							<input type="submit" id="submit" value="更新" class="button blue wymupdate" />
							<%} else {%>
							<input type="submit" id="submit" value="发布" class="button blue wymupdate" />
							<%}%>							
						</div>
					</form>
				</div>
			</div>

		</div>
	</section>

	<% include js%>
	<script>
	$(function(){
		$('#main form :submit').on('click',function(e){
			//e.preventDefault();
			if (!$('#main form input')[0].checkValidity()) {
			  $('#main form').submit();
			}
			// else {
			// 	$.post('/backend/news/add',$('#main form').serialize(),function(data){
			// 		window.location.href='news/list';
			// 	});
			// }
		});
		
	});
	</script>

</body>

</html>
