	<base href="/backend/" />
	<% include meta.ejs %>
	
	<title>CyanRhino Backend System</title>
	
</head>

<body>

	<!-- Primary navigation -->
	<nav id="primary">
		<ul>
			<li>
				<a href="home">
					<span class="glyph dashboard"></span>
					控制台
				</a>
			</li>
			<li>
				<a href="uielements/miscellaneous.html">
					<span class="glyph shuffle"></span>
					界面外观
				</a>
			</li>
			<li class="active">
				<a href="javascript:;">
					<span class="glyph pencil"></span>
					图片
				</a>
			</li>
			<li>
				<a href="news/list">
					<span class="glyph listicon"></span>
					新闻管理
				</a>
			</li>
			<li>
				<a href="https://www.google.com/analytics/web/#home/a40133822w69229745p71305695/">
					<span class="glyph chart"></span>
					统计
				</a>
			</li>
			<li class="bottom">
				<a href="logout">
					<span class="glyph quit"></span>
					登出
				</a>
			</li>
		</ul>
	</nav>

	<!-- Secondary navigation -->
	<nav id="secondary">
		<ul>
			<li><a href="gallery/add">上传图片</a></li>
			<li class="active"><a href="javascript:;">图片库</a></li>
		</ul>

		<div id="notifications">
			<ul>
			</ul>
		</div>
	</nav>

	<section id="maincontainer">
		<div id="main" class="container_12">

			<div class="box">
				<div class="box-header">
					<h1>Gallery</h1>

				</div>
				
				<div class="box-content">


<div class="container_12 clearfix leading">
	<div class="grid_12">
		
	</div>
</div>





				</div>
			</div>

		</div>
	</section>
	
	<% include js.ejs %>




</body>


</html>
