
	<% include meta.ejs %>
	<title>CyanRhino Backend System</title>
	
</head>

<body>

	<!-- Primary navigation -->
	<nav id="primary">
		<ul>
			<li>
				<a href="/backend/home">
					<span class="glyph dashboard"></span>
					控制台
          </a>
			</li>
			<li>
				<a href="/backend/layout">
					<span class="glyph shuffle"></span>
					界面外观
          </a>
			</li>
			<li>
				<a href="/backend/gallery/add">
					<span class="glyph pencil"></span>
					图片
          </a>
			</li>
			<li class="active">
				<a href="javascript:;">
					<span class="glyph listicon"></span>
					新闻管理
          </a>
			</li>
			<li>
				<a href="http://tongji.baidu.com/web/welcome/ico?s=41937b3633e78bafd26b74a693e79796">
					<span class="glyph chart"></span>
					统计
          </a>
			</li>
			<li class="bottom">
				<a href="/backend/logout">
					<span class="glyph quit"></span>
					登出
          </a>
			</li>
		</ul>
	</nav>

	<!-- Secondary navigation -->
	<nav id="secondary">
		<ul>
			<li class="active"><a href="javascript:;">新闻列表页</a></li>
			<li><a href="/backend/news/add">新增文章（高级）</a></li>
		</ul>

		<div id="notifications">
			<ul>
			</ul>
		</div>
	</nav>

	<section id="maincontainer">
		<div id="main" class="container_12">

			<div class="box">
				<div class="box-header">
					<h1>新闻列表</h1>
				</div>

				<table class="datatable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>Category</th>
							<th>isRecommend</th>
							<th>PubDate</th>
							<th>Author</th>
							<th style="width:100px;">Actions</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0;list &&  i<list.length; i++) { %>
							<tr>
								<td><%= list[i]._id%></td>
								<td><%= list[i].title %></td>
								<td><%= list[i].category %></td>
								<td><%= list[i].isRecommend?"是":"否" %></td>							
								<td><%=new Date(list[i].postdate).toDateString()%></td>
								<td><%=list[i].author%></td>

								<td>
									<a href="/backend/news/update/<%= list[i]._id%>" class="button plain">编辑</a>
									<a href="#confirm" class="button plain modal">删除</a>
								</td>
							</tr>
						<% } %>						
					</tbody>
				</table>
			</div>
			
			<%if(list&&list.length>0){%>
			<div id="confirm" class="box">
				<div class="box-header">
					<h1>友情提示</h1>
				</div>

				<div class="box-content">
					<p>你正在<strong>删除</strong>该条记录</p>
					<p>是否继续？</p>
					

					<div class="action_bar">
						<form action="" method="get">
							<a href="#" class="close button">取消</a>
							<input type="submit" class="button blue" value="确认" />
						</form>
					</div>
				</div>
			</div>
			<%}%>

		</div>
	</section>
	
	<% include js.ejs %>

	<script>
	$(function(){
		$('.datatable td a').on('click',function(e){
			$('#confirm form').attr('action','/backend/news/remove/'+$(this).parent().parent().find('td:eq(0)').text());
		});
	});	
	</script>
</body>


</html>
