	<% include meta.ejs %>

	<title>CyanRhino Backend System</title>
	
</head>

<body>

	<!-- Primary navigation -->
	<nav id="primary">
		<ul>
			<li class="active">
				<a href="home">
					<span class="glyph dashboard"></span>
					控制台
          </a>
			</li>
			<li>
				<a href="uielements/miscellaneous.html">
					<span class="glyph shuffle"></span>
					界面外观
          </a>
			</li>
			<li>
				<a href="gallery/add">
					<span class="glyph pencil"></span>
					图片
          </a>
			</li>
			<li>
				<a href="news/list">
					<span class="glyph listicon"></span>
					新闻管理
          </a>
			</li>
			<li>
				<a href="https://www.google.com/analytics/web/#home/a40133822w69229745p71305695/">
					<span class="glyph chart"></span>
					统计
          </a>
			</li>
			<li class="bottom">
				<a href="logout">
					<span class="glyph quit"></span>
					登出
          </a>
			</li>
		</ul>
	</nav>

	<!-- Secondary navigation -->
	<nav id="secondary">
		<ul>
			<li><a href="home">控制台</a></li>
			<li class="active"><a href="javascript:;">用户管理</a></li>
			<li><a href="statistics">系统日志</a></li>
		</ul>

		<div id="notifications">
			<ul>
			</ul>
		</div>
	</nav>

	<section id="maincontainer">
		<div id="main" class="container_12">

			<div class="box">
				<div class="box-header">
					<h1>系统注册用户</h1>
				</div>

				<table class="datatable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Role</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0;list &&  i<list.length; i++) { %>
							<tr>
								<td><%= list[i]._id%></td>
								<td><%= list[i].username %></td>								
								<td><a href="mailto:<%= list[i].email %>"><%= list[i].email %></a></td>
								<td><%=list[i].is_admin?"Admin":"User"%></td>

								<td>
									<a href="#user" class="button plain modal">编辑</a>
									<a href="#confirm" class="button plain modal">删除</a>
								</td>
							</tr>
						<% } %>						
					</tbody>
				</table>
			</div>
			
			
			<div id="confirm" class="box">
				<div class="box-header">
					<h1>友情提示</h1>
				</div>

				<div class="box-content">
					<p>你正在<strong>删除</strong>该条记录</p>
					<p>是否继续？</p>
					

					<div class="action_bar">
						<form action="" method="get">
							<a href="#" class="close button">取消</a>
							<input type="submit" class="button blue" value="确认" />
						</form>
					</div>
				</div>
			</div>
			
			
			<div id="user" class="box">
				<div class="box-header">
					<h1>用户管理</h1>
				</div>

				<div class="box-content">
					<form method="post" action="/backend/users">
						<p>
							<input type="text" name="username" id="username" placeholder="用户名" required="required" class="{validate:{required:true, minlength:3}}" />
						</p>
						
						<p>
							<input type="text" name="email" id="email" placeholder="邮件" />
						</p>
						
						<p>
							<input type="password" name="password" id="password" placeholder="密码" required="required" class="{validate:{required:true, minlength:6}}" />
						</p>
						<p>
							<input type="checkbox" name="is_admin" id="is_admin" />
							<label for="is_admin">管理员</label>
						</p>
						
						<!-- <p>
							<input type="checkbox" name="is_admin" id="is_admin">
							<label for="is_admin" class="prettyCheckbox checkbox list">
								管理员
							</label>
						</p> -->
						
						<div class="action_bar">
							<a href="#" class="close button">取消</a>
							<input type="submit" class="button blue" value="更新" />
						</div>
					</form>
				</div>
			</div>

		</div>
	</section>

	<% include js.ejs %>
	
	<script>
	$(function(){
		$('.datatable td a[href="#confirm"]').on('click',function(e){
			$('#confirm form').attr('action','users/remove/'+$(this).parent().parent().find('td:eq(0)').text());
		});
		
		$('.datatable td a[href="#user"]').on('click',function(e){
			$('#username').val($(this).parent().parent().find('td:eq(1)').text());
			$('#email').val($(this).parent().parent().find('td:eq(2)').text());
			
			if("Admin"==$(this).parent().parent().find('td:eq(3)').text()){
				$('#is_admin').attr('checked',"checked");
				$('#is_admin').parent().find('label').addClass('checked');
			}else{
				$('#is_admin').attr('checked',false);
				$('#is_admin').parent().find('label').removeClass('checked');
			}
			
		});
	});	
	</script>
</body>


</html>
